


#bghome{
    min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px));


    
}

#bgpagologo{
   
    min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px));
    background: url(/src/images/footer.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 35% 90%;
    left: 50%;
    opacity: 0.8;
}

#pagobox{
    padding-top: 50%;
    padding-left: 50%;
}




#bghometext{
    padding-top: 15%;
    padding-left: 35%;
    font-size: 64px;
    background-size: 100%;
    opacity: 0.4;
}





